<div>
  <hr>
  <h5>Sign-Up</h5>
  <form>
    <p>
      <label for="username">New Username</label>
      <input type="text" name="username" id="username" placeholder="johndoe">
    </p>
    <p>
      <label for="password">New Password</label>
      <input type="password" name="password" id="password">
    </p>
    <button id="registerUser">Sign-Up</button>
  </form>
  <hr>
  <hr>
  <h5>Login</h5>
  <form>
    <p>
      <label for="lUsername">Username</label>
      <input type="text" name="lUsername" id="lUsername" placeholder="enter your username here">
    </p>
    <p>
      <label for="lPassword">Password</label>
      <input type="password" name="lPassword" id="lPassword" placeholder="enter your password here">
    </p>
    <button id="loginUser">Login</button>
  </form>
  <hr>
</div>

<script src="../public/js/authUser.js"></script>