{{!-- view all post and create new page --}}
<button id="logOutUser" class="btn btn-primary">Sign Out</button>

<div class = "auth-container">

  <hr>
  <hr>
  <h5>Create A Post</h5>
  <form>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="title" style="height: 50px"></textarea>
          <label for="floatingTextarea2">Post Title</label>
        </div>
<br>
    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave a comment here" id="body"
        style="height: 150px"></textarea>
      <label for="floatingTextarea2">Post Content</label>
    </div>

<br>
    <button id="createPost" class="btn btn-primary">Save</button>
  </form>
  <hr>
  {{#each posts as |post|}}
  <hr>
  <div>
    <h3>Title: {{post.title}}</h3>
    <h5>Author:  {{post.user.username}}</h5>
    <p>Content: {{post.body}}</p>
    <a href="/post/{{post.id}}">Review</a>
  </div>
  <hr>
  {{/each}}
</div>

<script src="./js/createPost.js"></script>